<title><%=@artist.name()%></title>

<div class="row">
  <h3> <%= @artist.name() %> </h3>
  <br>
  <img src="<%=@artist.image_link%>">
  <br>
  <br>
  <a href="/artist/<%=@artist.id%>/edit">Update | </a>
  <a href="/artist/<%=@artist.id%>/delete">Delete | </a>
  <a href="/album/new">Add Album</a>
  <br>
  <br>
    <%albums = @artist.albums()%>
    <h3>Albums by <%=@artist.name%></h3><br>
      <%albums.each do |album|%>

              <h5><%=album.name%></h5>
              <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=230&height=230&color=007FEB&layout=&size=medium&type=album&id=<%=album.album_link_id%>&app_id=1" width="230" height="230"></iframe>
              <br>
              <a href="/album/<%=album.id%>/edit">Update Album    |    </a>
              <a href="/album/<%=album.id%>/delete">Delete Album</a>
              <br>
              <%end%>




</div>
